[submodule "wetothemoon"]
	path = wetothemoon
	url = https://github.com/CasebookKiller/wetothemoon.git
[submodule "server"]
	path = server
	url = https://github.com/CasebookKiller/cbk-server.git
[submodule "wetothemoon-web"]
	path = wetothemoon-web
	url = https://github.com/CasebookKiller/wetothemoon-web.git
